.contenedor-grid{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 30vw 30vw 35vw;
    gap: 50px;
    grid-template-areas: 
    "main main main"
    "main main main"
    "main main main";
}

.navi{
 display: flex;
 position: fixed;
 justify-content: space-between;
 flex-wrap: wrap;
 width: 98vw;
}

.barra-de-busqueda{
    display: flex;
    border-radius: 50px;
    border: 1px solid rgb(97, 97, 97);
    align-items: center;
    flex-wrap: wrap; 
    width: 80%;
    height: 30px
    
}

.navipeq{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid rgb(97, 97, 97);
    
}
.wraper{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid rgb(97, 97, 97);
    
}


button:hover {
    border: 1px solid black;

}

.margen{
    border: 1px solid black;
}

nav{
    grid-area:nav;
}