
 

nav{
 display: flex;
 z-index: 1;
 position: fixed;
 flex-wrap: wrap;   
 padding: 15px;
 width: auto;
 height: 50px;
 background-color: white;
 top: 0px;
 left: 0px;
 right: 0px;
 justify-content: space-between;
 align-items: center;
}

.div-barra-busqueda{
  display: flex;
  width: fit-content;
  align-items: center;
  width: 60%;

  
}

.barra-de-busqueda{
    display: flex;
    border-radius: 50px;
    flex-wrap: wrap; 
    width: 90%;
    height: 30px;
    
}


.navipeq{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    
}
.wraper{
    display: flex;
    flex-wrap: wrap;
    
    justify-content: flex-start;
    
    
}
.wraper3{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-right: 5px;
}
.wraper2{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  
}

.svg-pinterest {
    border: 1px;
    width: 26px;
    height: 26px;
    #Pinterest-Button {
      #Pinterest {
        fill: #f80202;
      }
    }
  }


.Boton-Inicio{
    background-color: black;
    font-size: 15px;
    color: white;
    border-radius: 100px;
    width: 4vw;
    height: 5vh;
}

.Botones{
    font-size: 15px;
    border-radius: 100px;
    border: transparent;
    text-align: center;
    width: 5vw;
    height: 5vh;
}

.svg-flecha {
    border: 1px;
    width: 20px;
    height: 20px;
    #Flecha {
      #FlechaA {
        fill: #000000;
      }
    }
  }

  .svg-campana{
    border: 1px;
    width: 20px;
    height: 20px;
    #Campana {
      #CampanaA {
        fill: #000000;
      }
    }
  }
  


button:hover {
    border: 1px solid black;

}



main {
   display: flex;
   flex-wrap: wrap;
   margin-left: 50px;
  margin-top: 40px;
   
}

.columnas{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.div-imagenes{
    display: flex;
    position: relative;
    flex-wrap: wrap;
    width: 200px;
    max-height: fit-content;
    margin-right:60px;
}

.div-imagenes:hover {
  filter:brightness(70%)
}

.img {
    display: flex;
    max-height: 600px;
    border-radius: 30px;
    max-width: 236px;
    
}

.div-imagenes:hover .interior{
  opacity: 1;
}

.interior{
  display: flex;
  flex-wrap: wrap;
  opacity: 0;
  transform: translate(200%, -130%)

}

.botonesAbajo{
  background-color: white;
  border-radius: 50px;
  width: 2rem;
  height: 2rem;
  margin-right:5px;
}

.superior{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  opacity: 0;
  transform: translate(10%, 130%);
  width: 200px;
}

.div-imagenes:hover .superior{
  opacity: 1;
}

.perfil{
  background-color:none;
  border-radius:30px;
  width:6rem;
  height: 3rem;
  color: white;
  border: none;
}

.botonRojo{
  background-color: #f80202;
  border-radius:30px;
  width: 6rem;
  height: 3rem;
  color: white;
  border: none;
}

