

nav{
 display: flex;
 position: fixed;
 justify-content: space-between;
 flex-wrap: wrap;   
 padding: 15px;
 width: 98vw;
 background-color: white;
 top: 0px;
 left: 0px;
 right: 0px;
}



.barra-de-busqueda{
    display: flex;
    border-radius: 50px;
    border: 1px solid rgb(97, 97, 97);
    align-items: center;
    flex-wrap: wrap; 
    width: 80%;
    height: 30px
    
}


.navipeq{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid rgb(97, 97, 97);
    
}
.wraper{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid rgb(97, 97, 97);
    
}


button:hover {
    border: 1px solid black;

}

.margen{
    border: 1px solid black;
}

.imagenes {
    display: inline-block;
   margin-top: 70px;
   margin-left: 40px;
   margin-right: 40px;
   column-count: 7;
   column-gap: 20px;
    
}

.div-imagenes{
    display: inline-block;
    margin-bottom: 20px;
    width: 100%;
    
}

.div-imagenes img {
    display: block;
    max-height: 100%;
    border-radius: 30px;
    max-width: 235px;
    
  
}

